name: BuildLite

on:
  push:
    branches:
      - build
  workflow_dispatch: {}

jobs:
  x64_build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
      with:
        msbuild-architecture: x64
      
    - name: Run msbuild
      shell: cmd
      run: |
        chcp 65001
        MSBuild -p:Configuration="Release (lite)" -p:Platform=x64 -p:PlatformToolset=v143
      
    - name: Get current time
      shell: bash
      run: echo "BUILDDATETIME=$(date '+%Y%m%d%H%M')" >> $GITHUB_ENV
      
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: TrafficMonitor_Lite_x64_${{ env.BUILDDATETIME }}
        path: |
          Bin/x64/Release (lite)/TrafficMonitor.exe
          Bin/x64/Release (lite)/*.dll
          Bin/x64/Release (lite)/*.pdb
